<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <a href="/about"> A propos</a>
    </header>
    <main>
        <h1>Accueil</h1>
    </main>
    <style>
        html {
            background: black;
            color: white;
        }
        a {
            color: aqua;
            text-decoration: none;
        }
    </style>
    <script>
        const sayHello = (name) => {
            console.log(`Hello ${name}`)
        }
        sayHello("Youssef, est-tu un escroc ?")
    </script>
</body>
</html>